<footer>
    <div class="main">
      <div class="content footer-links">
        <!-- <div class="footer-company">
          <h4>Empresa</h4>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'produto' %}">Produtos</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'local' %}">Localização</a>
          </li>
        </div> -->
        <div class="footer-rental">
          <h4>Serviços</h4>
          <h6>Venda de carros</h6>
          <h6>Financiamento</h6>
          <h6>Suporte</h6>
        </div>
        <div class="footer-social">
          <h4>Redes sociais</h4>
          <div class="social-icons">
            <a href="https://www.instagram.com/">
              <img src="/static/global/img/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/">
              <img src="/static/global/img/facebook.png" alt="Facebook">
            </a>
          </div>
        </div>
        <div class="footer-contact">
          <h4>Contato</h4>          
          <a href="https://api.whatsapp.com/send?phone=+5521992780444&text='Ola! Estou entrando em contato'"><h6>Whatsapp</h6></a>
          <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%26ogbl%2F&emr=1&ifkv=AVdkyDmrJD50-3T5fVbYrHz7M19h8ivrI7SHHa2h-gqQW0afoScBaltDTSxsBFeOHvKlb_jOIcmj&ltmpl=default&ltmplcache=2&osid=1&passive=true&rm=false&scc=1&service=mail&ss=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-1542350694%3A1738015859238335&ddm=1"><h6>E-mail</h6></a> 
          <h6><a href="{% url 'local' %}">Localização</a></h6>
        </div>
      </div>
    </div>
    <div class="last">CarroShop 2025 - Todos os direitos reservados</div>
  </footer> 