<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario de Endereço</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form method="get" action=".">
            <label>Cep:
                <input class="form-control" name="cep" type="text" id="cep" value="" size="10" maxlength="9"
                    onblur="pesquisacep(this.value);" /></label><br />
            <label>Rua:
                <input readonly class="form-control" name="rua" type="text" id="rua" size="60" /></label><br />
            <label>Numero:
                <input class="form-control" name="num" type="text" id="num" size="10" /></label><br />
            <label>Complemento:
                <input class="form-control" name="comp" type="text" id="comp" size="60" /></label><br />
            <label>Bairro:
                <input readonly class="form-control" name="bairro" type="text" id="bairro"
                    size="40" /></label><br />
            <label>Cidade:
                <input readonly class="form-control" name="cidade" type="text" id="cidade"
                    size="40" /></label><br />
            <label>Estado:
                <input readonly class="form-control" name="uf" type="text" id="uf" size="2" /></label><br />
            
                <input name="ibge" type="hidden" id="ibge" size="8" /></label><br />
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->